
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    max-height: 100vh;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    color: rgb(248, 248, 248);
    font-family: 'Poppins', sans-serif;
}
body::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#2E12AD,#a799e4);
    opacity: 0.6;
    z-index: -1;
}
#title{
width: 54.5%;
margin: auto;
margin-top: 70px;
text-align: center;
font-family: sans-serif;
font-weight: 400;
line-height: 1.3;
}

#description{
    width: 54.5%;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family:'Poppins';
    font-style: italic;
    margin: auto;
    margin-top: 6px;
    text-align: center;
}
#survey-form{
    background: #1f1a38;
    width: 54%;
    height: auto;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    opacity: 0.9;
}
#name-label,#email-label,#number-label {
    width: 100%;
    font-family: sans-serif;
    height: auto;
    font-size: 20px;
}
[type="text"],[type="email"],[type="number"]{    
    width: 98%;
    height: 40px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
#dropdown{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
#dropdown select{
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}
#container1{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
}
input[type="radio"]{
    border: 0px;
    width: 3%;
    height: 1.5em;
    margin-top: 5px;
    margin-right: 10px;
    
}
#container2{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}
input[type="checkbox"]{
    border: 0px;
    width: 3%;
    height: 1.5em;
    margin-top: 5px;
    margin-right: 10px;
}
#texta{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}
#texta textarea{
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 100px;
    padding: 10px;
    border: none;
    margin-top: 5px
}
#submit{
    background-color: rgb(75, 185, 134);
    width: 98%;
    height: 40px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: none;
    border-radius: 1px;
}

@media (max-width: 1280px) and (min-width:1050px){
    #survey-form{
        background-color: #1f1a38;
        width: 65%;
    }
}
@media (max-width: 1050px) and (min-width:768px){
    #survey-form{
        background-color: #1f1a38;
        width: 90%;
    }
}
@media ( max-width: 768px){
    #title{
        width: 70%;
    }
    #description{
        width: 70%;
    }
    #survey-form{
        background-color: #1f1a38;
        width: 70%;
    }
    input[type="radio"]{
        border: 0;
        width: 5%;
        height: 1.5em;
        margin-top: 5px;
        margin-right: 10px;
    }
    input[type="checkbox"]{
     border: 0px;
     width: 5%;
     height: 1.5em;
     margin-top: 5px;
     margin-right: 10px;
 }
}
@media (max-width: 730px){
    #title{
        width: 90%;
    }
    #description{
        width: 90%;
    }
    #survey-form{
        background-color: #1f1a38;
        width: 90%;
    }
    input[type="radio"]{
        border: 0;
        width: 5%;
        height: 1.5em;
        margin-top: 5px;
        margin-right: 10px;
    }
    input[type="checkbox"]{
     border: 0px;
     width: 5%;
     height: 1.5em;
     margin-top: 5px;
     margin-right: 10px;
 }
}
@media (max-width: 575px){
    #title{
        width: 100%;
    }
    #description{
        width: 100%;
    }
   #survey-form{
       background-color: #1f1a38;
       width: 100%;
   }
   input[type="radio"]{
       border: 0;
       width: 5%;
       height: 1.5em;
       margin-top: 5px;
       margin-right: 10px;
   }
   input[type="checkbox"]{
    border: 0px;
    width: 5%;
    height: 1.5em;
    margin-top: 5px;
    margin-right: 10px;
}
}